body {
    margin: 0;
    font-family: "Lucida Console", sans-serif;
    font-weight: 300;
}

span {
    color: #00b100;
}

nav {
    z-index: 1;
/*    display: inline-block;*/
    position: fixed;
/*    padding: 12px;*/
    width: 100%;
    text-align: right;
    background-color: white;
}


.menu-item {
    display: inline-block;
    list-style-type: none;
    list-style: none;
    padding: 14px 16px;
    
}

.menu-item >a{
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    background-color: rgba(245, 245, 245, 0.62);
}

.header-img {
    position: relative;
    text-align: center;
    color: white;
}
.header-img>img{
    
    width: 100%
}

.header-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.img-back {
    background-size: cover;
    width: 100%;

}
*/

/*
#about-content {
    padding-left: 40%;
}
*/

.about-photo, .about-me {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.about-photo {
    text-align:right;
}


.face {
    width: 40%;
    border: 5px solid white;
}

.about-me {
    margin-left: 25px,;
}

#headers {
    text-align: center;
}



#skills {
    text-align: center;
}

.vicons {
    display: inline-block;
    text-align: center;
    padding: 5%;
}

#icon-block {
    width: 100%;
    margin: auto;
    width: 75%;
    text-align: center;
}

#image-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 0px;
    margin: auto;   
}

}

#image-container>img {
    width: 30%;
}

#contact {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #213b50;
}

.address {
    display: inline-block;
    width: 45%;
}

.form {
    display: inline-block;
    width: 45%;
    background-color: 213b50;
    color: white;
}

input, textarea, select {
    background-color: #2b4a64;
    border: 0;
    color: #ffffff;
    width: 100%;
}

select:focus, textarea:focus, input:focus {
    border: 0;
    background-color: #4e708c;
    color: #ffffff;
}

input[type=submit] {
    background-color: green;
    width: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
.ulist {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*/

/*

li a {
    

}






.img-back {
    position: relative;
    display: block;
    width: 100%;
}

*/
