body {
    font-family: sans-serif;
    font-size: 16px;
    color: white;    
}

#center {
    margin: auto;
    width: 50%;
    background-color: #213b50;
    padding: 10px;
}

form {
    
    padding: 15px;
    border: 0;
    width: 400px;
    height: 690px;
    background-color: #213b50;
}

input, textarea, select {
    background-color: #2b4a64;
    border: 0;
    color: #ffffff
}

select:focus, textarea:focus, input:focus {
    border: 0;
    background-color: #4e708c;
    color: #ffffff;
}

/*
textarea:focus {
    border: 0;
    background-color: #4e708c;
    color: #ffffff;
}


select:focus {
    border: 0;
    background-color: #4e708c;
    color: #ffffff;
}
*/

input[type=submit] {
    background-color: lawngreen;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}