* {
    box-sizing: border-box;
}


body { 
  text-align: center; 

}

.one-line {
    font-size: 150px;
    padding-top: 50px;

}
i {
	font-size: 150px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { 
        transform: scale(1.4); }
}

i {
	font-size: 150px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
}


@keyframes beat{
 to {
   	transform: scale(1.4);
 }
}









