body {
    height: 1500px;
}


body {
    padding: 0;
    background-color: blueviolet;
    height: 1500px;
}

#container {
    min-height: 100%;
    margin-bottom: 60px;
    position: relative;
}

#header {
    background: #ff0;
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    /* Height of the footer */
}

#footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}
