@media (min-width:1170px) {

    div {
        width: 100%;
    }
    .man2 {
        display: none;
    }
    
    #main-header-text {
        color: white;
        top: 40%;
        left: 3%;
/*        font-size: 90%;*/
        }
}

@media (min-width:992px) and (max-width:1170px) {
    div {
        width: 70%;
    }
    .man1 {
        display: none;
    }
    
    #main-header-text {
        color: white;
        top: 20%;
        left: 60%;
        font-size: 70%;
    }

}

@media (max-width:992px) {
    div {
        width: 50%;
    }
    .man2 {
        display: none;
    }
    
    #main-header-text {
        color: black;
        text-align: center;
/*        font-size: 70%;        */
    }
    
}