body {
    margin: 0;
    font-family: "Lucida Console", sans-serif;
    font-weight: 300;
}

span {
    color: #00b100;
}

nav {
    z-index: 1;
/*    display: inline-block;*/
    position: fixed;
/*    padding: 12px;*/
    width: 100%;
    text-align: right;
    background-color: white;
}


.menu-item {
    display: inline-block;
    list-style-type: none;
    list-style: none;
    padding: 14px 16px;
    
}

.menu-item >a{
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    background-color: rgba(245, 245, 245, 0.62);
}


.header-image {
    position: relative;
    width: 100%;
    text-align: center;
}
.header-image>img {
    width: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    
}